/*GLOBAL*/
*{
    margin:0px;
    padding:0px;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubunt', sans-serif;
}

ul , ol{
    padding:0px;
}

a:visited,
a:link,
a:focus,
a:hover,
a:active {
    list-style: none;
    text-decoration: none;
}

.barraSuperior{
    background:black;
}

.barraSuperior a {
    color: white;
}

.backColor , .backColor a{
    background: rgb(28, 146, 189);
    color:white;
}

.redSocial{
    width:30px;
    height:30px;
    text-align: center;
    line-height:30px;
}

.facebookBlanco{
    color:white;
    background: blue;
}

.youtubeBlanco{
    color:white;
    background:#d6513e;
}

.twitterBlanco{
    color:white;
    background:#0ab2e6;
}

.googleBlanco{
    color:white;
    background:#d71617;
}